<!-- portfolio_app/templates/home.html -->

{% extends "base.html" %}

{% block title %} Pradinis {% endblock %}

    {% block header %}
    <h1>Sveiki atvykę į mano portfolio puslapį!</h1>
    <h3>Apie mane</h3>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam aspernatur, delectus excepturi, facere
        incidunt, iusto minus necessitatibus officia porro quam quasi quidem quos repudiandae veniam. At dolorem eum
        exercitationem iste nam quam quod? A ad atque, commodi consequuntur distinctio eius enim est impedit ipsam iusto
        magnam magni mollitia nobis officia possimus quo reiciendis rem veritatis vero voluptatum! Ab assumenda atque
        delectus, dolore dolores ducimus earum eius eum ex facere fugit ipsa iusto laudantium minus mollitia officiis,
        pariatur placeat porro possimus praesentium quas quia quibusdam quis quod repellendus rerum saepe tempore,
        tenetur veniam veritatis vitae voluptate voluptates voluptatibus! Fuga, quos.
    </div>
    {% endblock %}

    {% block content %}
<h3>Apie mane</h3>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam aspernatur, delectus excepturi, facere
        incidunt, iusto minus necessitatibus officia porro quam quasi quidem quos repudiandae veniam. At dolorem eum
        exercitationem iste nam quam quod? A ad atque, commodi consequuntur distinctio eius enim est impedit ipsam iusto
        magnam magni mollitia nobis officia possimus quo reiciendis rem veritatis vero voluptatum! Ab assumenda atque
        delectus, dolore dolores ducimus earum eius eum ex facere fugit ipsa iusto laudantium minus mollitia officiis,
        pariatur placeat porro possimus praesentium quas quia quibusdam quis quod repellendus rerum saepe tempore,
        tenetur veniam veritatis vitae voluptate voluptates voluptatibus! Fuga, quos.
    </div>
    {% endblock %}