{% extends "base.html" %}

{% block title %} Projektai {% endblock %}

{% block content %}
    <h1>Projektai</h1>
    {% for project in projects %}
        <h2>{{ project.title }}</h2>
        <article>
        <p>{{ project.project_resume }}</p>
        </article>
        <div>
            <p>{{ project.get_utl_display }}</p>
            <p>{{ project.get_utl1_display }}</p>
            <p>{{ project.get_utl2_display }}</p>
            <p>{{ project.get_utl3_display }}</p>
            <p>{{ project.get_utl4_display }}</p>
            <p>{{ project.get_utl5_display }}</p>
            <p>{{ project.get_utl6_display }}</p>
            <p>{{ project.get_utl7_display }}</p>
            <p>{{ project.get_utl8_display }}</p>
        </div>
        <article>
        <p>{{ project.project_description }}</p>
        </article>
        <p>{{ project.project_start_date }}</p>
        <p>{{ project.c_remarks }}</p>


<!--        {% load static %}-->
<!--        <img src="{% static 'portfolio_app/images/alus.jpg' %}"-->
<!--             alt="My image">-->
        <img src="{{project.project_image.url}}" alt="My Image">
        <p>{{ project.url }}</p>
    {% endfor %}
{% endblock %}